button {
    border-radius: 0px;
    border: solid 1px grey;
    margin-left: -1px;
    padding: 5px 10px;
    background: #fff;
    color: grey;
    
    img {
       margin-left: 5px; 
       height: 10px;
    }
}