.transaction{
    width: 100%;
    border: solid 1px gray;
    border-left: solid 5px orange;
    padding: 10px;
    display: grid;
    grid-template-columns: 70px 50px 1fr 100px;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: -1px;
    &_amount{
        justify-self: right;
        font-size: medium;
    }
    img{
        height: 50px;
    }
    &_description{
        &--title{
            font-size: small;
        }
        &--type{
            color: grey;
        }
    }
}
