.search{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap : 40px;
    @media (max-width: 768px) {
        grid-template-columns: 0.5fr 1fr;
        grid-gap : 10px;
    }
    
    @media (min-width: 769px) and (max-width: 1200px) {
        grid-template-columns: 0.5fr 1fr;
        grid-gap : 20px;
    }
    
    &_input{
        display: flex;
        position: relative;
        input {
            width: 100%;
        }
        &_cancel{
            width: 15px;
            position: absolute;
            right: 0;
            bottom: 5px;
            opacity: 0.5;
        }
    }
    &_sort{
        &_text{
            margin-right: 10px;
        }
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
}