<main class="transaction">
    <div class="container">
        <div class="transaction_layout">
            <app-card title="Make a Transfer" icon="../../assets/icons/arrows.svg">
                <app-transfer-form [account]="account"></app-transfer-form>
            </app-card>
            <app-card title="Recent Transactions" icon="../../assets/icons/briefcase.svg">
                <app-search-filter (filter)="handleFilterChange($event)"></app-search-filter>
                <div class="transactions">
                    <app-transaction-item *ngFor="let transaction of transactions | search:searchFilter.search | sort:searchFilter.dateSort:'transactionDate' | sort:searchFilter.amountSort:'amount' | sort:searchFilter.beneficiarySort:'merchant'" [date]="transaction.transactionDate" [color]="transaction.categoryCode" [image]="transaction.merchantLogo" [title]="transaction.merchant" [description]="transaction.transactionType" [amount]="transaction.amount" [currency]="account.currency"> </app-transaction-item>
                </div>
            </app-card>
        </div>
    </div>
</main>